html {
  font-size: 100%;
  scroll-behavior: smooth;
}

body {
  background-color: var(--background-color-base);
  color: var(--text-color-body);
  font-family: var(--primary-font-family);
  line-height: var(--line-height-base);
  counter-reset: sidenote-counter;
  display: grid;
  min-height: 100vh;
  margin: 0;
  padding-inline: var(--space-m);
  
  &::after {
    content: " ";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(18, 16, 16, 0.1);
    opacity: 0;
    z-index: 2;
    pointer-events: none;
    //animation: flicker 0.15s infinite;
  }

  &::before {
    content: " ";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
    z-index: 2;
    background-size: 100% 2px, 3px 100%;
    pointer-events: none;
  }

  & {
    grid-template-rows: auto 1fr auto;
    animation: textShadow 1.6s infinite;
  }
}

a {
  transition-property: color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing);
  color: var(--link-text-color);
  font-size: inherit;
  text-decoration: none;
}

code {
  font-size: var(--font-scale-0);
}

ol, ul {
  max-width: var(--max-line-length);
  margin: 0;
  margin-block-end: var(--space-m);
  padding-inline-start: var(--space-l);

  li {
    margin-block-end: var(--space-s);
  }

  &.task-list {
    padding-inline-start: var(--space-l);
    list-style: none;
  }

  .task-list-item-checkbox {
    margin-inline-end: var(--space-s);
  }

  ol, ul {
    margin-block-end: 0;
  }
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: lower-roman;
}

b,
strong {
  font-weight: 600;
}

i,
em {
  font-style: italic;
}

img {
  max-width: 100%;
  height: auto;
}

// Image Effects

.console-image {
  display: flex;
  position: relative;
  max-width: calc(var(--max-line-length) / 2);
  margin-left: auto;
  margin-right: auto;

    &::before, &::after {
      position: absolute;
      content: "";
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      opacity: .5;
    }

    &::before {
      background-color: var(--link-text-color);
    }

    &::after {
      border: 1px solid var(--link-text-color);
    }
}

.console-image img {
  mix-blend-mode: screen;
  filter: grayscale(100%) contrast(200%);
  opacity: 1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  max-width: var(--max-line-length);
  margin-block-start: 0;
  margin-block-end: var(--space-s);
  font-family: var(--primary-font-family);
  font-weight: 600;
}

h1 {
  font-size: var(--font-scale-5);
}

h2 {
  font-size: var(--font-scale-4);
}

h3 {
  font-size: var(--font-scale-3);
}

h4 {
  font-size: var(--font-scale-2);
}

h5 {
  font-size: var(--font-scale-1);
}

h6 {
  font-size: var(--font-scale-0);
}

p {
  max-width: var(--max-line-length);
  margin-block-end: var(--space-m);

  &:last-child {
    margin-block-end: 0;
  }
}

table {
  width: auto;
  margin-block-start: 0;
  margin-block-end: var(--space-m);
  margin-inline: 0;
  border-spacing: 0;
  border-collapse: collapse;
  line-height: var(--line-height-base);

  &:only-child {
    margin-block-end: 0;
  }
}

td, th {
  border-block-end: var(--border-width) var(--border-style) var(--border-color);
  max-width: var(--max-line-length);
  padding-block: var(--space-s);
  padding-inline: var(--space-s);
  text-align: start;
  vertical-align: baseline;
  overflow-wrap: break-word;
}

th {
  font-weight: var(--font-weight-bold);
}

a, .invalid-link {
  display: inline-block;
  text-transform: uppercase;
  white-space: nowrap;
}

blockquote {
  position: relative;
  margin-inline-start: 4ch;

  &::before {
    position: absolute;
    inset-inline-start: -4ch;
    content: ">>";
  }
}

dl {
  display: grid;
  max-width: var(--max-line-length);
  grid-template-columns: max-content 1fr;
  gap: var(--space-s);
}

dd {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: var(--font-size-body);
  margin-block-start: var(--space-m);
  margin-block-end: var(--space-s);

  &::before {
    margin-inline-end: 1ch;
  }

  &::after {
    margin-inline-start: 1ch;
  }
}

h1 {
  margin-block-start: 0;
}

$hch: "#";
$hcontent: "";

@for $level from 1 through 6 {
  $hcontent: $hcontent + $hch;

  h#{$level} {
    &::before {
      content: $hcontent;
    }
  }
}

table {
  min-width: 100%;
}

td, th {
  position: relative;
  overflow: hidden;
  border-block-end: 0;

  &::after {
    content: "----------------------------------------------------------------------";
    position: absolute;
    display: inline-block;
    inset-block-end: -1ch;
    inset-inline-start: 0;
    font-weight: normal;
    white-space: nowrap;
  }
}

ul {
  list-style-type: "- ";
}