.nav {
  align-self: start;
  margin: var(--space-m);
}

.site-title {
  font-size: var(--font-scale-1);
}

.main {
  align-self: start;
  margin: var(--space-m);
  justify-self: center;
  max-width: calc(var(--max-line-length) + var(--space-l));
  width: 100%;
}

.footer {
  align-self: end;
  margin: var(--space-m);
  font-size: var(--font-scale-neg1);
  justify-self: center;
}
