---
title: Y.O.R.
layout: default.njk
eleventyNavigation:
  key: home
---

<pre>
:: LOCAL LINK ENABLED ::

[+] Level 2 connection to Site 17 established.
[X] Site 24 data offline.
[/] Waiting for steak@dream.public...

</pre>

<p><a href="/log/">mission log</a></p>
<p><a href="/database/">database</a></p>
<p><a href="/system/">system</a></p>