.sibling {
  position: fixed;
  color: var(--faded-yellow);
  font-size: var(--font-scale-10);
  font-weight: bold;
  line-height: 1;
  text-transform: uppercase;
  inset-block-start: 50%;

  &:hover {
    color: var(--link-text-color);
  }
}

.sibling--prev {
  transform: rotate(-90deg) translateX(-50%) translateY(35%);
  transform-origin: center left;
  inset-inline-start: 0;
}

.sibling--next {
  transform: rotate(90deg) translateX(50%) translateY(35%);
  transform-origin: center right;
  inset-inline-end: 0;
}
