---
layout: default
---

<content class="equipment-entry">
  <div class="equipment-info">
    {% if page.name %}
    <h1>{{ page.name }}</h1> 
    {% else %} 
    <h1>{{ page.title }}</h1>
    {% endif %}
  
    <dl class="equipment-stats">
      {% if page.cost %}
        <dt>Cost</dt> 
        <dd>{{ page.cost }}</dd>
      {% endif %}
      {% if page.type %}
        <dt>Type</dt> 
        <dd>{{ page.type }}</dd>
      {% endif %}
      {% if page.ap %}
        <dt>Armor</dt> 
        <dd>{{ page.ap }} AP</dd>
      {% endif %}
      {% if page.o2 %}
        <dt>Oxygen Supply</dt> 
        <dd>{{ page.o2 }}</dd>
      {% endif %}
      {% for adj in page.stat_adj %}
        <dt>{{ adj[0] }}</dt> 
        <dd>{{ adj[1] }}</dd>
      {% endfor %}
    </dl>

    {{ content }}
  </div>
</content>
